.text-start {
    text-align: right !important;
}
.text-end {
    text-align: left!important;
}
.ms-1{
    margin-right: .25rem !important;
}
.ms-2{
    margin-right: .5rem !important;
}
.ms-3{
    margin-right: 1rem !important;
}
.ms-4{
    margin-right: 1.5rem !important;
}
.ms-5{
    margin-right: 3rem !important;
}
.start-0{
    right: 0 !important;
    left: unset !important;
}